tornado==6.3.3*; python_version < '3.0'
tornado; python_version >= '3.0'
pbkdf2
PyMySQL
python-memcached
python-dateutil
defusedxml
netaddr
nose
future
python-resize-image
sqlalchemy
alembic
enum34
mysqlclient
rocketchat_API
pillow>=10.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
