tornado==5.*; python_version < '3.0'
tornado; python_version >= '3.0'
pbkdf2
PyMySQL
python-memcached
python-dateutil
defusedxml
netaddr
nose
future
python-resize-image
sqlalchemy
alembic
enum34
mysqlclient
rocketchat_API
certifi>=2024.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
mako>=1.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=9.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
